*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:90%;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    background-color:antiquewhite;
}

nav ul{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin:15px 0 ;
}


ul li{
    list-style-type: none;
    border-radius: 10px;
    padding:10px;
}
ul li:hover{
    background-color: chocolate;
    color:white;
}
header{
    margin:10px 0;
}
